.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body{
    background-color: #1f2937;
    margin: 50px;

}
.dark{

}



.body{
    display: flex;
    flex-direction: column;
}

li{
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
}

ul{
    display: flex;
    gap: 10px;
}

.text{ 
    font-size: 24px;
    color: #F9FAF8;
}

.heading{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.footer{
    color:white;
    display:flex;
    align-content: center;
    justify-content: center;
}

/*background-color: #1f2937;